@charset "UTF-8";


/* 공통 */

* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body{
	background-color: #F0F2F5;
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Ultralight.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Heavy.ttf");
}


.logo {
	width: 301.06px;
	height: 106px;
	margin: -15px;
}



/* header */

/* 로그인/로그아웃 */
.loginMain{
    text-align: center;
}

.introduce{
	font-size: 24px;
}

.loginForm{
	background-color: #FFFFFF;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
    width: 396px;
    margin: 0px auto;
	padding-bottom: 24px;
	padding-top: 10px;
}

.loginDiv{
	width: 370px;
	color: #1CLE21;
	margin: auto;
	padding: 6px;
}

.loginInput{
	border: 1px solid #DDDFE2;
	border-radius: 6px;
	width: 330px;
	height: 22px;
	padding: 14px 16px;
	font-size: 17px;
	color: #1D2129;
	vertical-align: middle;
}

.loginInput:focus{
	outline:1px solid #1877F2;
}

.loginButton{
	border: none;
	border-radius: 6px;
	width: 364px;
	height: 48px;
	background-color: #1877F2;
	padding: 0px 16px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}

.findPwDiv{
	margin-top: 16px;
}

.findPw{
	margin-top: 16px;
	text-decoration: none;
	color: #1877F2;
	font-size: 14px;
}

.findPw:hover {
    text-decoration: underline;
}

.line{
	border-bottom: 1px solid #dadde1;
	margin: 20px 16px;
}

.createAccount{
	border: none;
	border-radius: 6px;
	background-color: #42B72A;
	height: 48px;
	padding: 0 16px;
	font-size: 17px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}

.fbLogin{
	font-size: 18px;
}

/* 회원가입 */

.frm{
	background-color: #fff;
	width : 400px;
	display: inline-block;
    position: relative;
    text-align: left;
    border: 1px solid #dddfe2;
    font-size: 13px;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
	
}

.join_first_salute{
	display: flex;
	color: #1c1e21;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
	font-weight: 600;
	justify-content: space-between;
}

.join_cancel{
	
	width: 20px;
	height: 20px;
	
}

.join_second_salute{
	
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
	
}


/* footer */

.footer-content{
	background-color: #FFF;
	
	
}

.footerContent{
	width: 90%;
	
}






/* 게시판 */
#gamjatext {
	font-size:23px;
	font-weight: bold;
	margin: 10px 0px;
}

.gamja {
	width: 700px;
	height: 500px;
	background-color: #FFFFFF;
	font-size: 13px;
}

.boardC {
	border-collapse: collapse;
}
.boardC th{
	background-color: #f5f5f5;
	text-align: center;
}

.boardC th, td{
	padding: 10px;
	margin: 50px;
	border-top: 1px solid #adacad;
	border-bottom: 1px solid #adacad;
}

.boardC th {
	text-align: center;
}

.boardC th:nth-child(1){
	width:400px;
}
/* .gamja tr{ */
/* 	border: 1px solid black; */
/* 	border-collapse: collapse; */
/* } */